<% layout('layouts/boilerplate') %>



<body>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 mt-3">
        <% for(data of listData ){%>
            <a href="/listings/<%=data._id%>" class="listing-link">
        <div class="card card-listing" >
            <img src="<%=data.image.url%>" class="card-img-top" alt="..." style="height: 20rem;">
             <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%=data.title%></b><br>
                    <p> &#8377 <%= data.price ? data.price.toLocaleString("en-IN") : "N/A" %>/night</p>
                </p>
            </div>
        </div>
        </a>
    <% }; %>
    </div>
